# Virtual environment
venv/
.venv/
env/

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo

# IDE / Editor settings (optional but recommended)
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Output files
/main.spec
/build
